:root {
  --accent: #4a2e1f;
  --gold: #d9a441;
  --soft: #f7f2ee;
  --card-bg: #fffaf5;
}
body {
  background: var(--soft);
  color: #222;
  font-family: "Segoe UI", Roboto, sans-serif;
  line-height: 1.6;
}
.brand {
  font-weight: 700;
  color: #f6f2f2;
}
.hero {
  background: linear-gradient(
    180deg,
    rgba(107, 63, 47, 0.08),
    rgba(217, 164, 65, 0.03)
  );
  padding: 4rem 0;
}
.card-archive {
  background: var(--card-bg);
  border-left: 6px solid var(--accent);
}
.accent-btn {
  background: var(--accent);
  color: #fff;
}
.accent-btn:hover {
  background: #3e271a;
  color: #fff;
}
.gallery-img {
  height: 180px;
  object-fit: cover;
  width: 100%;
  border-radius: 6px;
}
footer {
  background: #1f1f1f;
  color: #ddd;
  padding: 2rem 0;
}
.navbar-nav .nav-link {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.navbar-nav a:hover {
  background-color: #3e271a; /* Nova cor de fundo ao passar o mouse #473417, #4a2e1f; */
  color: #f6f2f2; /* Nova cor do texto ao passar o mouse */
}

.carousel-item img {
  height: 368px;
  margin-right: 412px;
}
